@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Coming+Soon&family=Gloria+Hallelujah&display=swap');

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }

  .sidebar{
    background-color: #D6ECFF !important;
  }

  .home{
    background-color: #EAF6FF;
  }

  button{
    background-color: #FFA69E !important;
  }

  .login{
    background-color: #EAF6FF !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}